:host {
  display: block;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

.day {
  width: 100%;
  font-weight: 400;
}

.rest-notes {
  padding-bottom: 2rem;
  text-align: center;
}

.rest-button {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.2rem;
}
